$yellow:#fff999;
$green:green;
$red:red;
$blue: blue;
$size-border: 5px;

@mixin padding($top,$bottom){
    padding-top:$top;
    padding-bottom:$bottom;
}

.jumbotron {
	background:$green;
	border:$size-border solid $yellow;
	color:$blue;
	margin:4em 0;
	@include padding(10px,15px);
}
.mtop-4 {
  margin-top: 4em;
}